extends layout

block content
	section(id='intro')
		div(class='wrapper')
			div(class='gjpresents')
				img(src='/img/logo.png')
				span PRESENTS

			div(class='title')
				h1 What are They Doing?
				h2 A Survey of Interactive Infographics

			div(class='scroll')
				span(class="darr") &darr;
				span Scroll
	
	section(id='whatAreThey')
		div(class='wrapper')
			h1(class='subhead') What are They?
			div(id='dummyInfographic',class='chrome-frame')
				div(class='text')
				div(class='chart')
				div(class='illustration')
			div(id='dummyExplanation')
				p.
					Infographics are a way of conveying important data visually,
					through the use of <b>Graphic Text</b>, <b>Charts</b>, and 
					<b>Illustrations</b>.
				p.
					Infographics allow you to display only the most pertinent
					pieces of information, and tell a story through illustration,
					animation, and interactivity.

	section(id='whyEffective')
		div(class='wrapper')
			h1(class='subhead') Why are They Effective?
			div(class='chrome-frame')
				p.
					Studies show that users are more likely to both <b class="blue">read</b> and 
					<b class="red">retain</b> information that's presented with color visuals. In 
					addition, researchers found that adding pictures to an article 
					makes people more inclined to believe what they're reading.
				a(class='makeChart') Make Chart
				div(class='chart')

	section(id='whoUses')
		div(class='wrapper')
			h1(class='subhead') Who Uses Them?
			h3 Click below to see the poularity of infographics over the last five years.

			div(class='chart')
			ul(class='trendSort')
				li
					a(class='google')
						img(src='/img/google.png')
				li
					a(class='plus') +
				li
					a(class='twitter')
						img(src='/img/twitter.png')