doctype 5
html
  head
    title= title

    link(rel='stylesheet', href='/stylesheets/style.css')

    script(src="http://code.jquery.com/jquery-latest.min.js")
    script(src="/javascripts/chart.min.js")
    script(src="/javascripts/waypoints.min.js")
    script(src="/javascripts/main.js")
  body
    block content